# node modules
node_modules/

supabase_schema.sql

# expo
.expo/
dist/
web-build/

# native build artifacts
ios/
android/
*.log

# environment variables
.env
.env.local
.env.*.local

# macos
.DS_Store

# vscode
.vscode/

# lockfiles (optional, but often kept in git - depends on preference)
# package-lock.json
# yarn.lock
